<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-sidebar-header>
      <app-sidebar-header></app-sidebar-header>
    </nb-sidebar-header>
    <app-sidebar></app-sidebar>
    <nb-sidebar-footer>
      <app-sidebar-footer></app-sidebar-footer>
    </nb-sidebar-footer>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
