language: node_js

node_js:
   - node

env:
  global:
    - GET_ENV_VAR=./.travis/get_env_specific_value.sh
    - FIREBASE_PROJECT=$($GET_ENV_VAR development production)
    - ANGULAR_ENV=$($GET_ENV_VAR dev prod)

branches:
   only:
      - master
      - develop

before_script:
   - npm install -g firebase-tools
   - npm install -g @angular/cli
   - npm --prefix functions install

script:
   - npm run-script build -- --prod --env=$ANGULAR_ENV --aot

after_success:
   - firebase use $FIREBASE_PROJECT --token $FIREBASE_TOKEN
   - firebase deploy --token $FIREBASE_TOKEN
