service cloud.firestore {
  match /databases/{database}/documents {
  	match /checklists/{checklist} {

      allow list: if resource.data.public == true;
      allow get;
      allow create: if request.resource.data.owner == request.auth.uid;
      allow update: if resource.data.owner == request.auth.uid
                      && resource.data.created == request.resource.data.created;
      allow read, delete: if resource.data.owner == request.auth.uid;

      match /items/{item} {
        function canReadAndWriteChecklist() {
      		return get(/databases/$(database)/documents/checklists/$(checklist)).data.owner == request.auth.uid;
      	}

        allow read;
      	allow read, write: if canReadAndWriteChecklist();
      }
    }

    match /users/{uid} {
    	allow read;
      allow read, write: if request.auth.uid == uid;
    }

    match /accounts/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    match /selected/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /{allChildren=**} {
      	allow read, write: if request.auth.uid == uid;
      }
    }

    match /saved/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    match /tags/{tag} {
    	allow read;
    }

		match /featured/{checklist} {
    	allow read;
      allow create: if exists(/databases/$(database)/documents/admins/$(request.auth.uid))
                      && request.resource.data.admin == request.auth.uid;
      allow delete: if exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /reported/{randomId} {
    	allow create: if request.resource.data.reporter == request.auth.uid;
    }

    match /admins/{uid} {
      allow read;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
