service cloud.firestore {
  match /databases/{database}/documents {
  	match /checklists/{checklist} {

      allow read: if resource.data.public == true;
      allow read, write: if resource.data.owner == request.auth.uid;

      match /{allChildren=**} {
        function canReadChecklist() {
      		return get(/databases/$(database)/documents/checklists/$(checklist)).data.public == true;
      	}

        function canReadAndWriteChecklist() {
      		return get(/databases/$(database)/documents/checklists/$(checklist)).data.owner == request.auth.uid;
      	}

        allow read: if canReadChecklist();
      	allow read, write: if canReadAndWriteChecklist();
      }
    }

    match /users/{userId} {
    	allow read: if request.auth != null;
      allow read, write: if request.auth.uid == userId;
    }

    match /selected/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    match /tags/{tag=**} {
    	allow read: if request.auth != null;
    }

  }
}
