service cloud.firestore {
  match /databases/{database}/documents {
  	match /checklists/{checklist} {

      allow list: if resource.data.public == true;
      allow get;
      allow create: if request.resource.data.owner == request.auth.uid;
      allow read, update, delete: if resource.data.owner == request.auth.uid;

      match /{allChildren=**} {
        function canReadChecklist() {
      		return get(/databases/$(database)/documents/checklists/$(checklist)).data.public == true;
      	}

        function canReadAndWriteChecklist() {
      		return get(/databases/$(database)/documents/checklists/$(checklist)).data.owner == request.auth.uid;
      	}

        allow read: if canReadChecklist();
      	allow read, write: if canReadAndWriteChecklist();
      }
    }

    match /users/{uid} {
    	allow read;
      allow read, write: if request.auth.uid == uid;
    }

    match /accounts/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    match /selected/{uid} {
      allow read, write: if request.auth.uid == uid;

      match /{allChildren=**} {
      	allow read, write: if request.auth.uid == uid;
      }
    }

    match /saved/{uid} {
      allow read, write: if request.auth.uid == uid;
    }

    match /tags/{tag} {
    	allow read;
    }

		match /featured/{checklist} {
    	allow read;
    }

    match /reported/{randomId} {
    	allow create: if request.resource.data.reporter == request.auth.uid;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
