<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <ng-container *ngIf="checklist | async; let checklist">
            <div [innerHTML]="checklist.title | emoji"></div>
          </ng-container>
        </nb-card-header>
        <nb-card-body>
          <ng-container *ngIf="checklist | async; let checklist">
            <div class="row show-grid" *ngIf="checklist.description.length > 0">
              <div class="col-md-12">
                <div>
                  <markdown [innerHTML]="checklist.description | emoji"></markdown>
                </div>
              </div>
            </div>
          </ng-container>
          <app-checklist-item *ngFor="let item of (items | async)" [item]="item" [level]="1" (onChange)="checkAccountAndShowMessage()"></app-checklist-item>
        </nb-card-body>
        <ng-container *ngIf="checklist | async; let checklist">
          <nb-card-footer *ngIf="checklist.tags.length > 0">
            <a *ngFor="let tag of checklist.tags" [routerLink]="['/checklists', isOwner(checklist) ? 'me' : 'public', 'tags', tag]">
              #{{ tag }}
            </a>
          </nb-card-footer>
        </ng-container>
      </nb-card>
      <ng-container *ngIf="checklist | async; let checklist">
        <nb-card *ngIf="!isOwner(checklist)">
          <nb-card-body>
            <app-checklist-actions [checklist]="checklist"></app-checklist-actions>
          </nb-card-body>
        </nb-card>
        <nb-card *ngIf="isOwner(checklist)">
          <nb-card-body>
            <app-checklist-owner-actions [checklist]="checklist"></app-checklist-owner-actions>
          </nb-card-body>
        </nb-card>
      </ng-container>
    </div>
  </div>
</div>
