<div class="container">
  <div class="row">
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>lizt blog (on Medium)</nb-card-header>
        <nb-card-body>
          <a href="https://medium.com/@kamil.powalowski/telegram-bot-firebase-cloud-functions-new-user-notification-82a1a3026017" target="_blank">Telegram bot + Firebase Cloud Functions = New user notification</a>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>What's new?</nb-card-header>
        <nb-card-body>
          <div>
            <b>version 0.7.2</b>
            <ul>
              <li>duplicated tutorial checklist problem fixed</li>
              <li>checklists for given tag are displayed again</li>
            </ul>
            <b>version 0.7.1</b>
            <ul>
              <li>
                <a routerLink="/open">/open</a> page with analytics data</li>
            </ul>
            <b>version 0.7.0</b>
            <ul>
              <li>tutorialized checklist for new accounts</li>
            </ul>
          </div>
          <div [hidden]="!moreVisible">
            <b>version 0.6.13</b>
            <ul>
              <li>public checklists on account page</li>
            </ul>
            <b>version 0.6.12</b>
            <ul>
              <li>updated Angular to version 6.0.0</li>
              <li>changed Cookie Law component</li>
            </ul>
            <b>version 0.6.11</b>
            <ul>
              <li>empty checklist can't be published</li>
              <li>links to blogposts on home screen</li>
            </ul>
            <b>version 0.6.10</b>
            <ul>
              <li>ccount page, logout and delete account functions</li>
            </ul>
            <b>version 0.6.9</b>
            <ul>
              <li>syntax highlighting for TypeScript, Javascript, Kotlin, Java, Swift, Ruby, Python, JSON and YAML</li>
            </ul>
            <b>version 0.6.8</b>
            <ul>
              <li>fixed lag on checklist items selection</li>
              <li>smaller checklist item description frame</li>
              <li>markdown editior smaller and without spellchecker</li>
              <li>read more and read less on `What's new` section</li>
            </ul>
            <b>version 0.6.7</b>
            <ul>
              <li>admin menu with feature checklist option</li>
            </ul>
            <b>version 0.6.6</b>
            <ul>
              <li>markdown image fits to a screen</li>
              <li>saved a checklist creation time</li>
            </ul>
            <b>version 0.6.5</b>
            <ul>
              <li>featured checklists on the main page</li>
              <li>this `what's new?` section</li>
            </ul>
          </div>
          <a href (click)="toggleMoreVisible(); false">{{ moreVisible ? 'read less' : 'read more' }}</a>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-8">
      <app-home-featured-checklists [checklists]="featuredChecklists | async"></app-home-featured-checklists>
    </div>
  </div>
</div>
