<div class="container">
  <div class="row">
    <div class="col-md-4">
      <nb-card>
        <nb-card-header>What's new?</nb-card-header>
        <nb-card-body>
          <markdown>
            **version 0.6.10**
            * account page, logout and delete account functions

            **version 0.6.9**
            * syntax highlighting for TypeScript, Javascript, Kotlin, Java, Swift, Ruby, Python, JSON and YAML
          </markdown>
          <markdown [hidden]="!moreVisible">
              **version 0.6.8**
              * fixed lag on checklist items selection
              * smaller checklist item description frame
              * markdown editior smaller and without spellchecker
              * read more and read less on `What's new` section

              **version 0.6.7**
              * admin menu with feature checklist option

              **version 0.6.6:**
              * markdown image fits to a screen
              * saved a checklist creation time

              **version 0.6.5:**
              * featured checklists on the main page
              * this `what's new?` section
          </markdown>
          <a href (click)="toggleMoreVisible(); false">{{ moreVisible ? 'read less' : 'read more' }}</a>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-8">
      <app-home-featured-checklists [checklists]="featuredChecklists | async"></app-home-featured-checklists>
    </div>
  </div>
</div>
