<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <div>About</div>
        </nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              <h3>lizt.co - checklists made easy</h3>
              <cite>community driven website for creating and sharing checklists</cite>
              <p></p>
              <p>Hello, my name is
                <a target="_blank" href="https://twitter.com/kamilpowalowski">Kamil</a>, and I've created this Open Source project to solve one of my problems.</p>
              <p>I'm a software developer, and often I have to do some repetitive task that requires fulfilling many steps and
                none of them can be omitted. For example: if you want to publish an application on App Store, you have to create a description,
                make screenshots, prepare tags, publish Privacy Policy, change server URL to production, etc. These are tasks
                that are done once or twice a year by every iOS developer. Mentioned steps are easy, but there is a lot to
                cover. If you forget about some, you will end by making another build. That took time. The easiest solution
                for this is to create a humble checklist and check it before submitting the application.</p>
              <p>This was the basic idea behind <strong>lizt.co</strong> website. But I made it more social. I want to share my checklists, and
                I think everyone can make something useful for others. So don't hesitate, play with <strong>lizt.co</strong>, publish own
                checklists or share them using a link.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Useful links</h4>
              <ul>
                <li>
                  <a target="_blank" href="https://github.com/kamilpowalowski/lizt.co">Source code</a>
                </li>
                <li>
                  <a target="_blank" href="https://trello.com/b/pa48oery">Project managment (Trello)</a>
                </li>
                <li>
                  <a target="_blank" href="/legal/terms">Terms of Service</a>
                </li>
                <li>
                  <a target="_blank" href="/legal/privacy">Privacy Policy</a>
                </li>
              </ul>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
