@import '../../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
@include nb-install-component() {
    color: nb-theme(form-control-text-primary-color);
    background-color: nb-theme(form-control-bg);
    /deep/ .editor-toolbar {
        border-top: nb-theme(form-control-border-width) nb-theme(form-control-border-type) nb-theme(form-control-border-color);
        border-left: nb-theme(form-control-border-width) nb-theme(form-control-border-type) nb-theme(form-control-border-color);
        border-right: nb-theme(form-control-border-width) nb-theme(form-control-border-type) nb-theme(form-control-border-color);
        border-top-left-radius: nb-theme(form-control-border-radius);
        border-top-right-radius: nb-theme(form-control-border-radius);
        a {
            color: black !important;
            @include nb-for-theme(cosmic) {
                color: white !important;
            } // TODO: This settings don't apply to element
            .active {
                background-color: transparent;
            }
            &:hover {
                background-color: transparent;
            }
        }
        .separator {
            border-left: 1px solid nb-theme(actions-separator);
            border-right: 1px solid nb-theme(actions-separator);
        }
    }
    /deep/ .CodeMirror {
        min-height:70px;
    }
    /deep/ .CodeMirror-scroll {
        min-height: 70px;
    }
    /deep/ .CodeMirror-wrap {
        border: nb-theme(form-control-border-width) nb-theme(form-control-border-type) nb-theme(form-control-border-color);
        border-bottom-left-radius: nb-theme(form-control-border-radius);
        border-bottom-right-radius: nb-theme(form-control-border-radius);
        background-color: nb-theme(form-control-bg);
    }
    /deep/ .CodeMirror-focused {
        border: nb-theme(form-control-border-width) nb-theme(form-control-border-type) nb-theme(form-control-selected-border-color);
        background-color: nb-theme(form-control-focus-bg);
    }
}
