<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <a class="logo" [routerLink]="['/home']" routerLinkActive="active">
      <svg-icon class="icon" src="/assets/logo.svg"></svg-icon>
      <span>lizt.co</span>
    </a>
  </div>
</div>
<nb-actions class="header-container right" size="medium">
  <nb-action class="control-item">
    <nb-user [menu]="userMenu" [name]="userName" [picture]="userPhoto"></nb-user>
  </nb-action>
  <nb-action class="control-item" icon="nb-plus" (click)="createChecklist()"></nb-action>
</nb-actions>
