<div class="header-container left">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" class="navigation" nbPopover="Show/hide main menu." nbPopoverMode="hint">
      <i class="nb-menu"></i>
    </a>
    <a class="logo" routerLink="/home">
      <svg-icon class="icon" src="/assets/logo.svg"></svg-icon>
      <span>{{ name }}</span>
    </a>
  </div>
</div>
<nb-actions class="header-container right" size="medium">
  <nb-action class="control-item user">
    <nb-user [nbContextMenu]="userMenu" [name]="userName" [picture]="userPhoto"></nb-user>
  </nb-action>
  <nb-action class="control-item search">
    <nb-search type="modal-move"></nb-search>
  </nb-action>
</nb-actions>
