<div class="row">
  <div class="offset-md-1 col-md-10">
    <form [formGroup]="form" (ngSubmit)="onSave(true)">
      <nb-card>
        <nb-card-header>Create/Edit Checklist</nb-card-header>
        <nb-card-body>
          <div class="input-group">
            <input type="text" placeholder="Title" class="form-control" formControlName="title" [ngClass]="{ 'form-control-danger': showWarningForField('title') }"
              required />
          </div>
          <div class="input-group">
            <tag-input formControlName="tags" theme="ngx-chips-lizt-theme" [onAdding]="transformNewTag" [separatorKeyCodes]="[32]" modelAsStrings="true"
              [ripple]="false" inputClass="tag-form-control"></tag-input>
          </div>
          <div class="input-group markdown">
            <app-markdown-editor placeholder="Description" formControlName="description"></app-markdown-editor>
          </div>
        </nb-card-body>
      </nb-card>
      <ng-container formArrayName="items">
        <ng-container *ngFor="let item of items(); let itemIndex = index" [formGroupName]="itemIndex">
          <nb-card>
            <nb-card-body>
              <div class="input-group">
                <input type="text" placeholder="Title" class="form-control" formControlName="title" [ngClass]="{ 'form-control-danger': showWarningForField('items.' + itemIndex + '.title') }"
                  required />
              </div>
              <div class="input-group markdown">
                <app-markdown-editor placeholder="Description" formControlName="description"></app-markdown-editor>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <div class="row">
                <div class="col-md-3 buttons-group">
                  <button type="button" class="btn btn-primary btn-icon" [disabled]="itemIndex == 0" (click)="moveItemUp(itemIndex)">
                    <i class="nb-arrow-thin-up"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-icon" [disabled]="itemIndex >= items().length - 1" (click)="moveItemDown(itemIndex)">
                    <i class="nb-arrow-thin-down"></i>
                  </button>
                </div>
                <div class="col-md-9">
                  <button type="button" class="btn btn-danger btn-icon float-right" (click)="removeItem(itemIndex)">
                    <i class="nb-trash"></i>
                  </button>
                </div>
              </div>
            </nb-card-footer>
          </nb-card>
          <div class="row">
            <div class="offset-md-2 col-md-10">
              <ng-container formArrayName="subitems">
                <ng-container *ngFor="let subitem of subitemsForItem(item); let subitemIndex = index" [formGroupName]="subitemIndex">
                  <nb-card>
                    <nb-card-body>
                      <div class="input-group">
                        <input type="text" placeholder="Title" class="form-control" formControlName="title" [ngClass]="{ 'form-control-danger': showWarningForField('items.' + itemIndex + '.subitems.' + subitemIndex + '.title') }"
                          required />
                      </div>
                      <div class="input-group markdown">
                        <app-markdown-editor placeholder="Description" formControlName="description"></app-markdown-editor>
                      </div>
                    </nb-card-body>
                    <nb-card-footer>
                      <div class="row">
                        <div class="col-md-3 buttons-group">
                          <button type="button" class="btn btn-primary btn-icon" [disabled]="subitemIndex == 0" (click)="moveSubitemUp(subitemIndex, item)">
                            <i class="nb-arrow-thin-up"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-icon" [disabled]="subitemIndex >= subitemsForItem(item).length - 1" (click)="moveSubitemDown(subitemIndex, item)">
                            <i class="nb-arrow-thin-down"></i>
                          </button>
                        </div>
                        <div class="col-md-9">
                          <button type="button" class="btn btn-danger btn-icon float-right" (click)="removeSubitem(subitemIndex, item)">
                            <i class="nb-trash"></i>
                          </button>
                        </div>
                      </div>
                    </nb-card-footer>
                  </nb-card>
                </ng-container>
              </ng-container>
              <nb-card>
                <nb-card-body>
                  <button class="btn btn-block btn-primary" (click)="addNewSubitem(item)" type="button">Add subitem</button>
                </nb-card-body>
              </nb-card>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <nb-card>
        <nb-card-body>
          <button class="btn btn-block btn-primary" (click)="addNewItem()" type="button">Add item</button>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-body>
          <button class="btn btn-block btn-primary" (click)="onSave(false)" type="button" [disabled]="!form.valid">Save</button>
          <button class="btn btn-block btn-success" type="submit" [disabled]="!form.valid">Save and Quit</button>
          <button class="btn btn-block btn-danger" (click)="onDiscard()" type="button">Discard and Quit</button>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
