@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

@include nb-install-component() {

  nb-card-body {
    overflow: visible;
  }

  .markdown {
    display: inherit;
  }

  /deep/ .tag-form-control {
    padding: 0.75rem 1.125rem;
    color: nb-theme(form-control-text-primary-color);
    background-color: nb-theme(form-control-bg);
    border: nb-theme(form-control-border-width)
            nb-theme(form-control-border-type)
            nb-theme(form-control-border-color);
    font-family: nb-theme(font-main);
    border-radius: nb-theme(form-control-border-radius);

    &:focus {
      border: nb-theme(form-control-border-width)
              nb-theme(form-control-border-type)
              nb-theme(form-control-selected-border-color);
      background-color: nb-theme(form-control-focus-bg);
    }

    &:disabled {
      border-color: nb-theme(form-control-border-color);

      @include install-placeholder(rgba(nb-theme(form-control-placeholder-color), 0.5),
                                   nb-theme(form-control-placeholder-font-size));
    }

    @include install-placeholder(nb-theme(form-control-placeholder-color),
                                 nb-theme(form-control-placeholder-font-size));
  }

  .buttons-group {
    display: flex;
    justify-content: flex-start;

    button {
      margin-right: 0.5rem;
      min-width: 4rem;
    }
  }

  .input-group {
    margin-bottom: 1rem;
  }

  .validation-checkboxes {
    display: flex;
    justify-content: space-between;

    .custom-control {
      margin-left: 1rem;
    }
  }

  .filled {
    color: nb-theme(color-fg);
  }

  .current-rate {
    font-size: 1.5rem;
    padding-left: 1rem;
    color: nb-theme(color-fg-heading);
  }

  .full-name-inputs {
    display: flex;
  }

  .input-group.has-person-icon {
    position: relative;

    .form-control {
      padding-left: 3rem;
    }

    &::before {
      content: '\F47D';
      font-family: 'Ionicons';
      font-size: 2rem;
      position: absolute;
      z-index: 100;
      left: 1rem;
      top: 0.25rem;
    }
  }

  .dropdown {
    min-width: 7rem;
  }

  .dropdown-menu {
    width: auto;
  }

  .form-group label {
    padding: 0 0 0.75rem;
  }

  ngb-rating {
    outline: none;
  }

  ngb-rating i {
    color: nb-theme(color-success);
    @include nb-for-theme(cosmic) {
      color: nb-theme(color-primary);
    }
  }

  @include media-breakpoint-down(xs) {
    button:not(.btn-icon) {
      padding: 0.75rem 1rem;
      font-size: 0.75rem;
    }
  }
}
