<nb-actions size="medium" fullWidth>
  <nb-action (click)="edit()">
    <i class="nb-edit"></i>
    <span>Edit</span>
  </nb-action>
  <nb-action (click)="unpublish()" *ngIf="checklist.isPublish">
    <i class="nb-cloudy"></i>
    <span>Unublish</span>
  </nb-action>
  <nb-action (click)="publish()" *ngIf="!checklist.isPublish">
    <i class="nb-cloudy"></i>
    <span>Publish</span>
  </nb-action>
  <nb-action (click)="share()">
    <i class="nb-paper-plane"></i>
    <span>Share</span>
  </nb-action>
  <nb-action (click)="delete()">
    <i class="nb-trash"></i>
    <span>Delete</span>
  </nb-action>
</nb-actions>
