<ng-container *ngIf="checklists === null">loading...</ng-container>
<ng-container *ngIf="checklists?.length === 0">sorry, this list is empty</ng-container>
<nb-card *ngFor="let checklist of checklists">
  <nb-card-body [routerLink]="['/checklists', checklist.id, checklist.titleInUrlForm()]">
    <div [innerHTML]="checklist.title | emoji"></div>
  </nb-card-body>
  <nb-card-footer *ngIf="checklist.tags.length !== 0">
    <a *ngFor="let tag of checklist.tags.slice(0, 10)" [routerLink]="['/checklists', tagsPathFragment(), 'tags', tag]">
      #{{ tag }}
    </a>
    <ng-container *ngIf="checklist.tags.length > 10">...</ng-container>
  </nb-card-footer>
</nb-card>
